
<section class="section-cards">
    <header class="section-cards__header">
        <h1>Productos</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </header>

    <div class="cards-container">
    </div>

    <footer class="section-cards__footer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, neque! At commodi impedit sunt corporis maxime accusantium dolor tenetur obcaecati!</p>
        <p>Aperiam voluptate incidunt perspiciatis eius deserunt nihil asperiores debitis harum aspernatur voluptas vero at, vitae recusandae quo, unde cum pariatur.</p>
    </footer>
</section>
